/* Header 1 styles */
h1 {
  font-size: 52px;
  color: grey;
  margin: 2px;
  padding: 5px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
/* Header 2 styles */
h2 {
  font-size: 24px;
  color: grey;
  margin: 2px;
  padding: 5px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
/* Setting up centering to auto margins */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
/* Styled links */
a:link    { color: blue;  } 
a:visited { color: blueviolet;   }
a:hover   { color: lightskyblue; }
a:active  { color: #e085ff;  }